%h1{class: "page-header"} Todo
.col-lg-4
  = haml :form, layout: false
.col-lg-8.col-offset-4
  -if @todos.any?
    %h4{class: 'sub-header'}
    %table{class: "table table-hover"}
      %thead{class: "thead-inverse"}
        %tr
          %th　タイトル
          %th 詳細
      %tbody
        - @todos.each do |todo|
          %tr{scope:"row"}
            %td
              = todo.title
            %td
              = todo.description
            - unless todo.done
              %td
                %a{href: "/todos/#{todo.id}/done", class: "btn btn-success pull-right", titile: "完了"} 完了
  -else
    .well
      %h4.empty_msg この人何も残していない！
