
!!!
%html
  %head
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous"}

    %title Todo
  %body
    .container
      .content
        .row
          - if @notice_message
            .alert.alert-info
              = @notice_message
          - if @error_message
            .alert.alert-danger
              = @error_message
          = yield
      %footer
        %p Copyright &copy; #{Time.now.year} Chen Jun.
