.col-md-8.col-md-offset-2
  %h3 ユーザー登録
  .well.row
    %form{class: "new_user", id: "new_user", action: "/users/sign_up", "accept-charset" => "UTF-8", method: "post"}
      .form-inputs
        %input{name: "utf8", type: "hidden", value:"&#x2713;"}
        .form-group.email.user_email
          %label{class: "string required control-label", for: "user_email"}
            %abbr{title: "必須"}*(必須)
            メールアドレス
          %input{class: "string required form-control", autofocus: "autofocus", type: "email", value: "", name: "user[email]", id: "user_email"}
        .form-group.string.required.user_first_name
          %label{class: "string required control-label", for: "user_first_name"}
            %abbr{title: "必須"}*(必須)
            姓
          %input{class: "string required form-control", type: "text", name: "user[first_name]", id: "user_first_name"}
        .form-group.string.required.user_first_name
          %label{class: "string required control-label", for: "user_last_name"}
            %abbr{title: "必須"}*(必須)
            名
          %input{class: "string required form-control", type: "text", name: "user[last_name]", id: "user_last_name"}
        .form-group.password.user_password
          %label{class: "password control-label", for: "user_password"}
            %abbr{title: "必須"}
            *(必須)
            パスワード
          %input{class: "password form-control", type: "password", name: "user[password]", id: "user_password"}
        .form-group.password.user_password_confirmation
          %label{class: "password_confirmation control-label", for: "user_password_confirmation"}
            %abbr{title: "必須"}
            *(必須)
            パスワード再入力
          %input{class: "password_confirmation form-control", type: "password", name: "user[password_confirmation]", id: "user_password_confirmation"}
        .form-actions
          %input{type: "submit", name: "commit", value: "登録", class: "btn btn-default btn btn-block btn-primary", 'data-disable-with' => "登録中。。。"}
